.post-link-button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 12px;
}

.concise-table th{
  padding: 5px 10px;
}

/*Change footnote background color */
.footnote {
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
}
